.color {
  &-main {
    color: $color-main;
  }

  &-sub {
    color: $color-sub;
  }

  &-gray {
    color: $color-gray;
  }

  &-black {
    color: $color-black;
  }

  &-white {
    color: #fff;
  }
}

.background {
  &-main {
    background-color: $color-main;
  }

  &-sub {
    background-color: $color-sub;
  }

  &-gray {
    background-color: $color-gray;
  }

  &-white {
    background-color: #fff;
  }

  &-black {
    background-color: $color-black;
  }
}

.block {
  display: block;
}

.bg-comma {
  padding-top: 4rem;

  &::before {
    content: "\f10e";
    font-family: $font-awesome;
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    top: -15px;
    left: -15px;
    opacity: 0.075;
  }
}

.heading {
  position: relative;
  font-family: $font-2;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2.25px;
  line-height: 55px;

  @media (max-width: 991px) {
    font-size: 32px;
  }
}

.link-common {
  position: relative;
  font-family: $font-1;
  font-size: 17px;
  font-weight: 400;

  &::after {
    content: "";
    display: block;
    width: 84px;
    border-bottom: 2px solid $color-main;
    margin-top: 2px;
  }
}

.link-box {
  font-family: $font-3;
  font-size: 17px;
  display: inline-block;
  letter-spacing: 1.19px;
  line-height: 20px;
  color: #fff;
  background-color: $color-main;
  padding: 15px 32px;
  border-radius: 10px;

  img {
    width: 10px;
    margin-left: 32px;
  }
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-center .link-common::after {
  @include margin-auto;
}

.text-center {

  .heading-separator,
  .heading-after,
  .heading-icon {
    @include margin-auto;
  }
}

.imgtobg {

  &-o,
  &-o-sm {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &-o-sm {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-img {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

.square {
  position: relative;
  overflow: hidden;

  img {
    position: relative;
    min-width: 100%;
    width: auto;
    max-width: 150%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
}

.img {
  &-floatleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &-floatright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  @include respond(tabland) {

    &-floatleft,
    &-floatright {
      max-width: 50%;
    }
  }
}

/* remove float at certain viewports */
.float {
  @include respond(smdesktop) {
    &-lg {
      float: none;
    }
  }

  @include respond(tabland) {
    &-md {
      float: none;
    }
  }

  @include respond(tabport) {
    &-sm {
      float: none;
    }
  }

  @include respond(phone) {
    &-xs {
      float: none;
    }
  }
}

.max-width {
  &--100 {
    max-width: 100px;
  }

  &--200 {
    max-width: 200px;
  }

  &--300 {
    max-width: 300px;
  }

  &--400 {
    max-width: 400px;
  }

  &--500 {
    max-width: 500px;
  }

  &--600 {
    max-width: 600px;
  }

  &--700 {
    max-width: 700px;
  }

  &--800 {
    max-width: 800px;
  }

  &--900 {
    max-width: 900px;
  }

  &--1000 {
    max-width: 1000px;
  }
}

.margin-auto {
  @include margin-auto;
}

.no-padding {
  padding: 0;
}

.list {
  &-content {
    padding-left: 1rem;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 0.4rem;
      padding-left: 2rem;

      &::before {
        content: "\f105";
        font-family: $font-awesome;
        font-size: 1.4rem;
        font-weight: 700;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }

  &-x2 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      width: 50%;
      padding-right: 1rem;
    }
  }

  &-icon {
    position: relative;
    margin-bottom: 1.5rem;

    li {
      position: relative;
      padding-left: 3rem !important;

      &::before {
        display: none;
      }

      >i {
        @include absoltopcenter;
        left: 0;
        font-size: 1.8rem;
      }

      span,
      strong {
        display: block;
      }
    }
  }
}

.section-bg {
  @include absoldefault;
}